$iconbackgroundcolor: #FAFAFA;
$border_color: #F1F1F1;
$pointcolor: #92C501;

* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
button{
  border: none;
  background-color: transparent;
}


.menu_wrap {
  #menu {
    cursor: pointer;
    margin: 30px;
    display: flex;
    align-items: center;
    li {
      margin-right: 20px;
      a {
        color: black;
      }
    }

    .logo {
      width: 150px;
      margin-right: 20px;
      img {
        display: block;
        width: 100%;
      }
    }
  }
}//menu

#fullpage{
  
#page04{
  display: flex;
  .section_01{
    .tabs{
    display: flex;
    justify-content: center;
    padding: 44px 0;
    border-top: 1px solid $border_color;
    border-bottom:1px solid $border_color;
    li{
      margin-right: 20px;
      a{display: block;
        display: flex;
        flex-direction: column;
        align-items: center;
        .backgorund_color{
          padding: 20px;
          background-color: $iconbackgroundcolor;
          border: 1px solid $border_color;
          border-radius: 50%;
          width: 20px; 
          margin-bottom: 10px;
          img{
            display: block;
            width: 100%;
          }
        }
        
        
        p{
          font-weight: 14px;
          color: #333;
          font-size: 14px;
        }
      }

      &:hover .backgorund_color{
        background-color: $pointcolor;
      }

      &:hover p{
        font-weight: bold;
      }

    }
  }
  }//section_01

  .section_02{
    display: flex;
    margin: 30px 0;

    .tab_area{
      width: 300px;
      text-align: center; 
      h1{
      color: #9F9F9F;
      font-size: 42px;
      font-weight: 400;
      cursor: pointer;

    }
     .tab_new{
      margin-top: 10px;
     }

    }
   

    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      display: flex;
      flex-direction: column;
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      width: calc(100% /3);
    }
    .goods_img{
      width: 100%;
      border: 1px solid black;
      overflow: hidden;
      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .goods_element{
      width: 100%;
        .goods_name{
          padding-top: 5px;
          p{
            color: #000;
            font-size: 17px;
          }
        }

        .goods_price{
          font-size: 14px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 10px 0;
          .percent{
            background-color: #2a3e48;
            color: white;
            border-radius: 20px;
            padding: 5px 10px;
          }
          .sale{text-decoration: line-through; margin: 0 10px;}
          .origin{}
        }
        
        .goods_cart{
          display: flex;
          cursor: pointer;
          #buy_btn{width: 100%; height: 40px; background-color: black;color: white;} 
          #cart_btn{background-color: black; color: white;}
        }
    }
   

  
  }
}//page04

}//fullpage