*{margin: 0; padding: 0;}
li{list-style: none;}
a{text-decoration: none;}
button{border: none; background-color: transparent;}

.container{
    padding-left: 40px;
    padding-right: 40px;

    .product_list_wrapper{
        width: 305px;
        .product_list_name{
            span{

            }
            p{

            }
        }

        .category{
            .all_product{
                .all_title{
                    display: flex;
                    justify-content: space-between;
                    h1{

                    }
                    .more_btn{
                        cursor: pointer;
                        font-size: 20px;

                    }
                }

                .group_inner{
                    display: none;
                }
            }

            .group{
                .group_title{
                    display: flex;
                    justify-content: space-between;
                    h2{

                    }
                    button{

                    }
                }

                .group_inner{
                    display: none;
                    .more_btn{
                        cursor: pointer;
                        font-size: 20px;
                    }
                    li{
                        a{

                        }
                    }
                }
            }
        }
    }//product_list_wrapper
}